@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

body {
  background: #000000;
}

.authors {
  text-align: center;
  margin: auto;
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
}
